.App {
  font-family: sans-serif;
  text-align: center;
  background-color: black;
  color: white;
  margin: 0rem;
}
.main-Img {
  width: 200px;
}
.header-Text {
  font-weight: bolder;
  font-size: 30px;
}
.under-Text {
  font-weight: bold;
  font-size: 20px;
}
.genre-btn {
  margin: 1rem;
}
.description-Text {
  margin: auto;
  max-width: 300px;
  padding: 1rem;
}
